%h2 Sign up
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:multipart => true}) do |f|
	= f.error_notification
	.form-inputs
		= f.input :name, :autofocus => true
		%div{:style=>"margin:15px 0 20px"}
			= f.input :avatar, :as => :file
		= f.input :email, :required => true
		= f.input :password, :required => true
		= f.input :password_confirmation, :required => true
	.form-actions
	= f.button :submit, "Sign up"
= render "devise/shared/links"
