.row-fluid
	.span6.content
		- if tagged?
			.tagged-header
				%h4
					.prefix Documents tagged as:
					= params[:id].titlecase
					= link_to 'remove...', root_path, :class => 'remove'
		- if search?
			.tagged-header
				%h4
					.prefix Search results for as:
					= params[:query]
					= link_to 'remove...', root_path, :class => 'remove'
		- if flash
			- flash.each do |k,v|
				.alert.alert-block{ :class => "alert-#{k.to_s}" }= v
		= simple_form_for Item.new, :url => uploads_path, :html => { :enctype => "multipart/form-data", :id => 'fileupload' } do |f|
			.file-uploads-list.hide(role="presentation")
				.fileinput-button.hidden
					= f.input :file, :as => 'file', :label => false, :input_html => { :multiple => 'multiple', :id => 'active_uploader' }
				.files(data-toggle="modal-gallery" data-target="#modal-gallery")
				.upload-buttons.fileupload-buttonbar
					%input.toggle(type="hidden" value="1")
					%button.btn.btn-large.cancel(type="reset")
						Cancel
					%button.btn.btn-success.btn-large.start(type="submit")
						Upload documents
					
		%table.table.files
			%tbody.items-list
				= render '/items/items_list'
		.spinner
		
	.span3.sidebar
		.document-drop-area
			Drop documents here to upload
		%button#test_btn.btn.btn-primary.icon-plus(style="display:block;width:219px")
			Browse for documents...
		.search
			%h4 Search
			%form{:action => search_path, :method => 'get', :class => search? ? 'active-search' : ''}
				.input-append
					%input.span10.query{:type=>'text', :name => 'query', :value => params[:query], :style=>"position:relative;top:1px;height:31px!important;"}
					%button.btn.icon-search{:type=>'submit'}
				- if search?
					%a.icon-remove-sign{ :href => root_path }
		.tag-list
			%h4 Tags
			%ul
				- @tags.each do |tag|
					%li= link_to(tag.titlecase, tag_path(tag))
	.span3.activities
		%h4 Activities
		- @activities.each do |activity|
			.activity
				.row-fluid
					.span3
						%img.img-polaroid(src="#{activity.user.avatar.url}" style="width:50px;height:50px")
					.span9
						The document "#{link_to(activity.item.name, item_path(activity.item))}" was
						= activity.type.downcase
						by
						= mail_to(activity.user.email,activity.user.name)
						%br
						= l(activity.created_at, :format => :short)
				.row-fluid
					.span12
						%hr
= render '/uploads/js_templates'