.row-fluid
	.span6.content
		- if tagged?
			.tagged-header
				%h4
					.prefix Documents tagged as:
					= params[:id].titlecase
					= link_to 'remove...', root_path, :class => 'remove'
		- if search?
			.tagged-header
				%h4
					.prefix Search results for as:
					= params[:query]
					= link_to 'remove...', root_path, :class => 'remove'
		- if flash
			- flash.each do |k,v|
				.alert.alert-block{ :class => "alert-#{k.to_s}" }= v
		%table.table.files
			%tbody
				- @items.each do |item|
					%tr
						%td.preview
							%img.img-polaroid(src="#{item.preview.thumb.url}" style="margin:0 10px 0 0;width:100px;height:100px")
							%ul
								- unless item.file.file.nil?
									%li
										Size:
										= number_to_human_size(item.file.file.size)
									%li
										Added:
										= item.created_at.strftime("%m/%d/%Y")
								- unless item.user.blank?
									%li 
										By:
										= item.user.name
								%li
									= render :partial => 'like', :object => item
						%td
							%h4
								%a{:href=> item_path(item)}= item.name
							.download
								%span.icon-file
								%a(href="#{item.file.url}")
									= item.file_filename
							%p= item.description
							- unless item.tags.blank?
								%p.tags 
									Tags:
									= item.tags.map{|t| link_to(t, tag_path(t)) }.join(', ').html_safe
			
	.span3.sidebar
		%a.btn.btn-primary.btn-large.icon-plus(href="#{new_item_path}" style="display:block")
			Add document
		.search
			%h4 Search
			%form{:action => search_path, :method => 'get', :class => search? ? 'active-search' : ''}
				.input-append
					%input.span10.query{:type=>'text', :name => 'query', :value => params[:query], :style=>"position:relative;top:1px;height:31px!important;"}
					%button.btn.icon-search{:type=>'submit'}
				- if search?
					%a.icon-remove-sign{ :href => root_path }
		.tag-list
			%h4 Tags
			%ul
				- @tags.each do |tag|
					%li= link_to(tag.titlecase, tag_path(tag))
	.span3.activities
		%h4 Activities
		- @activities.each do |activity|
			.activity
				.row-fluid
					.span3
						%img.img-polaroid(src="#{activity.user.avatar.url}" style="width:50px;height:50px")
					.span9
						The document "#{link_to(activity.item.name, item_path(activity.item))}" was
						= activity.type.downcase
						by
						= mail_to(activity.user.email,activity.user.name)
						%br
						= l(activity.created_at, :format => :short)
				.row-fluid
					.span12
						%hr