.row-fluid
	.span8.content
		%table.table.files
			%tbody
				%tr
					%td.preview
						%img.img-polaroid(src="#{@item.preview.thumb.url}" style="margin:0 10px 0 0;width:100px;height:100px")
						%ul
							- unless @item.file.file.nil?
								%li
									Size:
									= number_to_human_size(@item.file.file.size)
								%li
									Added:
									= @item.created_at.strftime("%m/%d/%Y")
							- unless @item.user.blank?
								%li 
									By:
									= @item.user.name
							%li
								= render :partial => 'like', :object => @item
					%td
						%h4
							= @item.name
						.download
							%span.icon-file
							%a(href="#{@item.file.url}")
								= @item.file_filename
						%p= @item.description
						- unless @item.tags.blank?
							%p.tags 
								Tags:
								= @item.tags.map{|t| link_to(t, tag_path(t)) }.join(', ').html_safe
						%p
							%a.btn{ :href => root_path } Close
							%a.btn.btn-primary{:href=> edit_item_path(@item)} Edit
						.comments{ :style => "display:#{@item.comments.blank? ? 'none' : 'static'}"}
							%hr
							%h5 Comments
							= render :partial => '/comments/comment', :collection => @item.comments
						%p(style="margin-top:30px")
							= simple_form_for @item.comments.build, :url => comments_path, :remote => true, :html => { :'data-type' => 'html' } do |f|
								= hidden_field_tag 'id', @item.id
								= f.input :body, :as => :text, :label => false, :placeholder => 'Write a comment', :input_html => { :rows => 3, :class => 'span12'}
								= f.submit 'Add comment', :class => 'btn'
							
						
	- unless @item.versions.reverse.blank?
		.span4.sidebar
			%h4 Versions
			- @item.versions.each do |version|
				.row-fluid
					.span3
						%img.img-polaroid(src="#{version.user.avatar.url}" style="width:50px;height:50px")
					.span9
						Last updated by
						= mail_to(version.user.email, version.user.name)
						on
						= l(version.updated_at, :format => :long)
						%br
						= link_to('View', item_version_path(@item, version.version))
						
				.row-fluid
					.span12
						%hr
	