!!!
%html
	%head
		%title 
			FJORD – Sharing is loving
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
		
	%body
		.canvas
			.container-fluid
				.row-fluid
					.span12
						.logo
							%img(src="#{asset_path('fjord_logo.png')}")
				.row-fluid
					= yield
				.row-fluid
					.span12
						- if signed_in?
							.utilities
								= link_to("Sign-out", destroy_user_session_path, :method => :delete)
								&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
								= link_to_unless_current("Update profile", edit_user_registration_path)
						.footer
							FJORD – Sharing is l
							%span.hart ❤
							ving
			